<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id exercitationem ullam ipsum deseruntfacereimpedit
            sequi neque corrupti sed dolores perferendis delectus dolore maxime pariatur, fugiat mollitia eius amet esse
            adipisci cumque assumenda quaerat nesciunt laboriosam? A rerum voluptatibus impedit!</p>
    </div>

</div>