<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">notes App notes.js and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore totam quod dolor! Esse facere iste
        saepequidemharum earum at voluptatem beatae commodi officiis repellendus deserunt, nulla asperiores inventore?
    </p>
    <a href="https://es.pornhub.com/" class="btn btn-primary btn-lg">Suck my Dick</a>
</div>